@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  transition: all 3s ease-in 200ms;
}

.gradient-linear{
 background-color: white;
 background-image: radial-gradient(#696C6D 0.3px, #ffffff 0.3px);
 background-size: 23px 23px;
}


::-webkit-scrollbar {
  display: none;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveOut {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
